<div class="m-3">
  <%= simple_form_for @task do |form| %>
      <%= form.input :title %>
      <%= form.input :details %>
      <%= form.input :completed %>
      <%= form.submit %>
    <% end %>
</div>
